@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<br />
<br />
<text>Produced by <text style="font-weight:600">Javier Rivera </text>on <text style="font-style:italic">February 2017.</text></text>
